#include "resource.h"
#include <windows.h>

// Icon
IDD_APP_ICON    ICON    DISCARDABLE    "fxtunnel.ico"

// Dialog
DLG_INFO DIALOGEX 0, 0, 360, 425
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "FxTunnel Running Information"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Refresh", DLG_BTN_REFRESH, 5, 5, 48, 14
    EDITTEXT        DLG_EDIT, 5,26,355,398, ES_MULTILINE | ES_WANTRETURN | ES_AUTOHSCROLL | ES_AUTOVSCROLL | WS_VSCROLL | NOT WS_BORDER
END

